html  {
    height:100%;
  }
  
  #root {
/*     --bg: #0b222b; 
    --accent-color: #3f8099;    */
    height:100%;
    padding: 30px;
    font-family: "Open Sans", sans-serif;
    background-blend-mode: darken;
    background-position: top left;
    background-size: cover;  
  }
  
  #root[data-theme="flower-theme"] {
    --bg: #00000050 url("./assets/nathan-dumlao-LPRrEJU2GbQ-unsplash.jpg") no-repeat;
    --accent-color:#774057;
  }
  
  #root[data-theme="fractal-theme"] {
    --bg: #00000050 url("./assets/fractal-1280084_1920.jpg") no-repeat;
    --accent-color:#916f50;
  }
  
  #root{
    background: var(--bg);
  }
  
  nav > a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #fff; /* THIS */
    margin-right: 30.5px;
    text-decoration-line: none;
  
  }
  
  nav > a.active {
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
  }
  
  nav {
    font-variant: small-caps;
    padding: 5px;
    margin-bottom: 40px;
    background-color:var(--accent-color); /* THIS */
    text-align: center;
    vertical-align: middle;
  
  }
  h1{
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    margin-bottom: 30px;
    font-variant: small-caps;
  }
  
  h2 {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
  }
  
  section {
    background-color: #ffffff00
  }
  
  hr {
    border: none;
    border-top: 1px solid #979797;
    margin: 20px 0;
  }
  form{
    background-color: #ffffff90;
    vertical-align: middle;
    padding: 20px 50px;
  }
   
  input[type="submit"], button {
    background: var(--accent-color);  /* THIS */
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    border: none;
    outline: none;
    padding: 10px 0;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
    margin-bottom: 0px;
    cursor: pointer;
  }
  
  input,
  select {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #979797;
    padding: 7px 9.5px 9px 9.5px;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .tile {
    position:relative;
    margin: 0;
    font-size: 14px;
    padding: 0em 0.5em 0.5em 0.5em;
  }
  
  .tile-title {
    position:relative;
    font-weight: bold;
    margin-top:2em;
    margin-bottom:1em;
    padding: 0em 0.5em;
  }
  
  .tile-container {
    position: relative;
    background: #ffffff;
    min-width: 10em;
    border: 3px solid var(--accent-color); 
  
  }
  
  .all-tiles{
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
  }

  footer{
    text-align: center;
  }

.menu{
  display: inline-block;
  position:relative;
  width: 100%;
  height: 1.7em;
  background-color: var(--accent-color);
  color:#fff;
  text-align: right;
  z-index: 2;
}
.menubutton {
  display: inline;
  padding: 0em 0.3em;
  width: 0.5em;
  height: 1.5em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor:pointer;
  border-radius:50%;
}

.dropdown{
  position: absolute;
  width:min-content;
  right: 0px;
  padding:5px 10px;
  background-color: var(--accent-color);
  border: 1px var(--accent-color) solid;
  color: #fff;
  z-index:2;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
}
.dropdown div{
  padding: 2px 0px;
}

.editscreen {
  position: fixed;
  background-color: #ffffff95;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0em;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.editscreen div{
  width: 80%; 
  height: 80%;
  background-color: #fff;
  border: 3px solid var(--accent-color);
}

.editscreen form div{
  width:100%;
  border:  0px;
  display: inline-flex;
  gap: 5%;
}

.editscreen div h1 {
  color: #000;
}